#slider {
    block-size: 638px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    height: 638px;
    inline-size: 1360px;
    padding-block-end: 23px;
    padding-block-start: 23px;
    perspective-origin: 680px 319px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    transform-origin: 680px 319px;
    white-space: nowrap;
    width: 1360px;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 16px proxima-sbd;
    outline: rgb(255, 255, 255) none 0px;
    overflow: scroll hidden;
    padding: 23px 0px;
    }/*#DIV_1*/

    #slider:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: nowrap;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 16px proxima-sbd;
    outline: rgb(255, 255, 255) none 0px;
    }/*#DIV_1:after*/

    #slider:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: nowrap;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 16px proxima-sbd;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_1:before*/

    #DIV_2, #DIV_6, #DIV_10, #DIV_14, #DIV_18, #DIV_22, #DIV_26, #DIV_30, #DIV_34, #DIV_38 {
    block-size: 581px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 581px;
    inline-size: 260px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 130px 290.5px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    transform-origin: 130px 290.5px;
    white-space: nowrap;
    width: 260px;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 16px proxima-sbd;
    outline: rgb(255, 255, 255) none 0px;
    }/*#DIV_2, #DIV_6, #DIV_10, #DIV_14, #DIV_18, #DIV_22, #DIV_26, #DIV_30, #DIV_34, #DIV_38*/

    #DIV_2:after, #DIV_6:after, #DIV_10:after, #DIV_14:after, #DIV_18:after, #DIV_22:after, #DIV_26:after, #DIV_30:after, #DIV_34:after, #DIV_38:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: nowrap;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 16px proxima-sbd;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_2:after, #DIV_6:after, #DIV_10:after, #DIV_14:after, #DIV_18:after, #DIV_22:after, #DIV_26:after, #DIV_30:after, #DIV_34:after, #DIV_38:after*/

#DIV_2:before, #DIV_6:before, #DIV_10:before, #DIV_14:before, #DIV_18:before, #DIV_22:before, #DIV_26:before, #DIV_30:before, #DIV_34:before, #DIV_38:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: nowrap;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 16px proxima-sbd;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_2:before, #DIV_6:before, #DIV_10:before, #DIV_14:before, #DIV_18:before, #DIV_22:before, #DIV_26:before, #DIV_30:before, #DIV_34:before, #DIV_38:before*/

#IMG_3, #IMG_7, #IMG_11, #IMG_15, #IMG_19, #IMG_23, #IMG_27, #IMG_31, #IMG_35, #IMG_39 {
    block-size: 581px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 581px;
    inline-size: 260px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    perspective-origin: 130px 290.5px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    transform-origin: 130px 290.5px;
    white-space: nowrap;
    width: 260px;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 16px proxima-sbd;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_3, #IMG_7, #IMG_11, #IMG_15, #IMG_19, #IMG_23, #IMG_27, #IMG_31, #IMG_35, #IMG_39*/

#IMG_3:after, #IMG_7:after, #IMG_11:after, #IMG_15:after, #IMG_19:after, #IMG_23:after, #IMG_27:after, #IMG_31:after, #IMG_35:after, #IMG_39:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: nowrap;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 16px proxima-sbd;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_3:after, #IMG_7:after, #IMG_11:after, #IMG_15:after, #IMG_19:after, #IMG_23:after, #IMG_27:after, #IMG_31:after, #IMG_35:after, #IMG_39:after*/

#IMG_3:before, #IMG_7:before, #IMG_11:before, #IMG_15:before, #IMG_19:before, #IMG_23:before, #IMG_27:before, #IMG_31:before, #IMG_35:before, #IMG_39:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: nowrap;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 16px proxima-sbd;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_3:before, #IMG_7:before, #IMG_11:before, #IMG_15:before, #IMG_19:before, #IMG_23:before, #IMG_27:before, #IMG_31:before, #IMG_35:before, #IMG_39:before*/

#H1_4, #H1_8, #H1_12, #H1_16, #H1_20, #H1_24, #H1_28, #H1_32, #H1_36, #H1_40 {
    block-size: 48px;
    border-block-end-color: rgba(0, 0, 0, 0);
    border-block-start-color: rgba(0, 0, 0, 0);
    border-inline-end-color: rgba(0, 0, 0, 0);
    border-inline-start-color: rgba(0, 0, 0, 0);
    bottom: 174px;
    box-sizing: border-box;
    caret-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    column-rule-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 48px;
    inline-size: 348px;
    inset-block-end: 174px;
    inset-block-start: 359px;
    inset-inline-end: 34px;
    inset-inline-start: -122px;
    left: -122px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    perspective-origin: 174px 24px;
    position: absolute;
    right: 34px;
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0);
    top: 359px;
    transform: matrix(6.12323e-17, -1, 1, 6.12323e-17, 0, 0);
    transform-origin: 174px 24px;
    white-space: nowrap;
    width: 348px;
    border: 0px none rgba(0, 0, 0, 0);
    font: 32px / 48px proxima-bd;
    margin: 0px;
    outline: rgba(0, 0, 0, 0) none 0px;
    transition: all 1s ease-out 0s;
}/*#H1_4, #H1_8, #H1_12, #H1_16, #H1_20, #H1_24, #H1_28, #H1_32, #H1_36, #H1_40*/

#H1_4:after, #H1_8:after, #H1_12:after, #H1_16:after, #H1_20:after, #H1_24:after, #H1_28:after, #H1_32:after, #H1_36:after, #H1_40:after {
    border-block-end-color: rgba(0, 0, 0, 0);
    border-block-start-color: rgba(0, 0, 0, 0);
    border-inline-end-color: rgba(0, 0, 0, 0);
    border-inline-start-color: rgba(0, 0, 0, 0);
    caret-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    column-rule-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0);
    white-space: nowrap;
    border: 0px none rgba(0, 0, 0, 0);
    font: 32px / 48px proxima-bd;
    outline: rgba(0, 0, 0, 0) none 0px;
}/*#H1_4:after, #H1_8:after, #H1_12:after, #H1_16:after, #H1_20:after, #H1_24:after, #H1_28:after, #H1_32:after, #H1_36:after, #H1_40:after*/

#H1_4:before, #H1_8:before, #H1_12:before, #H1_16:before, #H1_20:before, #H1_24:before, #H1_28:before, #H1_32:before, #H1_36:before, #H1_40:before {
    border-block-end-color: rgba(0, 0, 0, 0);
    border-block-start-color: rgba(0, 0, 0, 0);
    border-inline-end-color: rgba(0, 0, 0, 0);
    border-inline-start-color: rgba(0, 0, 0, 0);
    caret-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    column-rule-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgba(0, 0, 0, 0);
    white-space: nowrap;
    border: 0px none rgba(0, 0, 0, 0);
    font: 32px / 48px proxima-bd;
    outline: rgba(0, 0, 0, 0) none 0px;
}/*#H1_4:before, #H1_8:before, #H1_12:before, #H1_16:before, #H1_20:before, #H1_24:before, #H1_28:before, #H1_32:before, #H1_36:before, #H1_40:before*/

#P_5, #P_9, #P_17, #P_25, #P_33, #P_41 {
    block-size: 72px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    bottom: -5px;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    height: 72px;
    inline-size: 165px;
    inset-block-end: -5px;
    inset-block-start: 473px;
    inset-inline-end: 19px;
    inset-inline-start: 76px;
    left: 76px;
    margin-block-end: 25px;
    margin-block-start: 16px;
    opacity: 0;
    perspective-origin: 82.5px 36px;
    position: absolute;
    right: 19px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 473px;
    transform-origin: 82.5px 36px;
    white-space: pre-wrap;
    width: 165px;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px proxima-lt;
    margin: 16px 0px 25px;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 1s ease-out 0s;
}/*#P_5, #P_9, #P_17, #P_25, #P_33, #P_41*/

#P_5:after, #P_9:after, #P_17:after, #P_25:after, #P_33:after, #P_41:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: pre-wrap;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px proxima-lt;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_5:after, #P_9:after, #P_17:after, #P_25:after, #P_33:after, #P_41:after*/

#P_5:before, #P_9:before, #P_17:before, #P_25:before, #P_33:before, #P_41:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: pre-wrap;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px proxima-lt;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_5:before, #P_9:before, #P_17:before, #P_25:before, #P_33:before, #P_41:before*/

#P_13, #P_21, #P_37 {
    block-size: 72px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    bottom: -5px;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    height: 72px;
    inline-size: 165px;
    inset-block-end: -5px;
    inset-block-start: 473px;
    inset-inline-end: 19px;
    inset-inline-start: 76px;
    left: 76px;
    margin-block-end: 25px;
    margin-block-start: 16px;
    opacity: 0;
    perspective-origin: 82.5px 36px;
    position: absolute;
    right: 19px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 473px;
    transform-origin: 82.5px 36px;
    white-space: pre-wrap;
    width: 165px;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px proxima-lt;
    margin: 16px 0px 25px;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 1s ease-out 0s;
}/*#P_13, #P_21, #P_37*/

#P_13:after, #P_21:after, #P_37:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: pre-wrap;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px proxima-lt;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_13:after, #P_21:after, #P_37:after*/

#P_13:before, #P_21:before, #P_37:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: pre-wrap;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px proxima-lt;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_13:before, #P_21:before, #P_37:before*/

#P_29 {
    block-size: 72px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    bottom: -5px;
    box-sizing: border-box;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    height: 72px;
    inline-size: 165px;
    inset-block-end: -5px;
    inset-block-start: 473px;
    inset-inline-end: 19px;
    inset-inline-start: 76px;
    left: 76px;
    margin-block-end: 25px;
    margin-block-start: 16px;
    opacity: 0;
    perspective-origin: 82.5px 36px;
    position: absolute;
    right: 19px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    top: 473px;
    transform-origin: 82.5px 36px;
    white-space: pre-wrap;
    width: 165px;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px proxima-lt;
    margin: 16px 0px 25px;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 1s ease-out 0s;
}/*#P_29*/

#P_29:after {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: pre-wrap;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px proxima-lt;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_29:after*/

#P_29:before {
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
    border-inline-end-color: rgb(255, 255, 255);
    border-inline-start-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    white-space: pre-wrap;
    border: 0px none rgb(255, 255, 255);
    font: 16px / 24px proxima-lt;
    outline: rgb(255, 255, 255) none 0px;
}
/*#P_29:before*/

.modal{font-family: 'Source Sans Pro', sans-serif;}
.modal-dialog{max-width: 600px;}
.modal-body {overflow: hidden;padding: 0;background-color: #4371a5; color: white;font-weight: 300;}
.modal-body a{color: white; text-decoration: none;}
.modal-body .foto img{height: 526px;}
.modal-body .foto{text-align: left;}
.modal-content{background-color: #4371a5; border: 0}
.modal-body .col-5{padding-right: 0;}
.modal-body .row.externo{margin-right: -15px}
.modal-body .texto{padding: 25px 15px 0 50px; text-align: left;}
.modal-body .texto .col{padding-left: 0;}
/*.modal-body .texto .row{margin-left: 0}*/
.modal-body .nombre{font-weight: 700; font-size: 22px;border-bottom: 1px white solid; padding-bottom: 8px; padding-left: 0;}
.modal-body .cargo{padding: 10px 0}
.modal-body .detalle{font-size: 12px; padding-top: 50px}
.modal-body .redes {padding-left: 0;margin-top: 20px;font-size: 14px;font-weight: 300;}
.modal-body .redes .col-8{padding-left: 0;}
.modal-body .redes .col-4{padding-right: 0; text-align: right;}